body {
  background: url(../img/Dirty_Back_alley.jpg) no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  font-family: 'MostWasted';
  font-size: 1.6em;
  color: #F09E5B;
  text-shadow: 2px 2px #071E4A;
}

@font-face {
  font-family: 'MostWasted';
  src: url('../fonts/mostwasted/Mostwasted.ttf');
}

@font-face {
  font-family: 'GangBangCrime';
  src: url('../fonts/gang_bang_crime/gangbangcrime.ttf');
}

@font-face {
  font-family: 'Graffonti';
  src: url('../fonts/graffonti/3dDrop.ttf');
}

@font-face {
  font-family: 'TopSecret';
  src: url('../fonts/topsecret/TopSecret.ttf');
}


h2 {
  margin: 0;
  padding: 0;
}

.endRound {
  padding: 3%;
  font-size: 7em;
  font-family: TopSecret;
  color: red;
  text-align: center;
  text-shadow: 5px 5px black;
  position: absolute;
  left: 5%;
  top: 22%;
  -webkit-transform: rotate(-15deg);
  width: 90%;
  z-index: 99;
}

.dealer {
  position: absolute;
  right: 20%;
  bottom: 4%;
  -webkit-animation: readyToFight 0.5s linear 0.5s infinite alternate;
}

.player {
  position: absolute;
  left: 15%;
  bottom: 6%;
  -webkit-animation: readyToFight 0.5s linear 0.5s infinite alternate;
}

.player-hand-container {
  text-align: left;
  position: absolute;
  top: 1%;
  left: 3%;
  width: 40%;
}

.dealer-hand-container {
  text-align: right;
  position: absolute;
  top: 1%;
  right: 3%;
  width: 40%;
}

.card {
  background: white;
  font-size: 0.9em;
  border: solid 1px DarkBlue;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  text-align: center;
}

.player-hand-container .card {
  float: left;
}

.dealer-hand-container .card {
  float: right;
}

.covered {
  color: black;
  text-shadow: none;
  background-color: black;
}

.hand {
  overflow: auto;
}

.healthBar {
  background-color: #AB272E;
  width: 98%;
  height: 40px;
  border: 1px solid DarkGray;
  border-radius: 5px;
}

.hit-button {
  font-family: 'GangBangCrime';
  letter-spacing: 0.2em;
  color: #AB272E;
  position: absolute;
  bottom: 2%;
  right: 36%;
  height: 5%;
  width: 10%;
}

.hit-button:hover{
  color: DarkRed;
}

.score {
  color: #B5367D;
}

.stand-button {
  font-family: 'GangBangCrime';
  letter-spacing: 0.1em;
  color: #CCC312;
  position: absolute;
  bottom: 2%;
  left: 36%;
  height: 5%;
  width: 10%;
}

.stand-button:hover{
  color: orange;
}

/* animate players */
/* This is the animation code. */
@-webkit-keyframes readyToFight {
   0% { -webkit-transform: scaleY(1.0); }
   100% { -webkit-transform: scaleY(1.07); }
}


